name: ReleaseBuild

on:
  push:
    branches:
      - main

env:
  PROJECT_FILE_PATH: project/OriGine.vcxproj
  CONFIGURATION: Release

jobs:
  build:
    runs-on: windows-latest

    steps:
      # -------------------------
      # Checkout
      # -------------------------
      - name: Checkout
        uses: actions/checkout@v4

      # -------------------------
      # MSBuild
      # -------------------------
      - name: Add MSBuild to PATH
        uses: microsoft/setup-msbuild@v2
        with:
          msbuild-architecture: x64

      # -------------------------
      # 生成物削除
      # -------------------------
      - name: Clean generated files
        shell: pwsh
        run: |
          if (Test-Path project/*.vcxproj) {
            Remove-Item project/*.vcxproj -Force
          }

          if (Test-Path project/*.vcxproj.filters) {
            Remove-Item project/*.vcxproj.filters -Force
          }

      # -------------------------
      # Premake 実行
      # -------------------------
      - name: Run Premake
        shell: pwsh
        run: |
          ./premake5.ps1 vs2026

      # -------------------------
      # 生成確認
      # -------------------------
      - name: Verify Project Exists
        shell: pwsh
        run: |
          if (-not (Test-Path "${{ env.PROJECT_FILE_PATH }}")) {
            Write-Error "Project file not generated."
            exit 1
          }

      # -------------------------
      # ビルド
      # -------------------------
      - name: Build
        run: |
          msbuild ${{ env.PROJECT_FILE_PATH }} `
            /p:Configuration=${{ env.CONFIGURATION }} `
            /p:Platform=x64 `
            /m
